$browser-context: 14; // Default
$primary-font: "Roboto", "Open Sans", sans-serif;
//$secondary-font: "Comic Sans MS", "Comic Sans", cursive;

//Colors
$accent-color: #009ad8;
$bg-color: #1e202b;
$body-color: #bfc1c8;
$message-color: #d89a00;
$secondary-color: #262936;
$forecast-bg-color: #323544;